<template>
  <div class="flex justify-center h-full w-full items-center">
    <div
      class="w-1/4 flex flex-col items-center bg-white h-auto rounded-lg p-5"
    >
      <div class="text-center">
        <span class="text-xl">Добро пожаловать</span>
      </div>
      <div class="w-full mt-4 flex flex-col gap-6">
        <BInput v-model="form.name" :type="'text'" :label="'name'" />
        <BInput
          v-model="form.password"
          :type="'password'"
          :label="'password'"
        />
        <click-btn @click="handleClick" :text="'добавить'"></click-btn>
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import BInput from "@/components/baseInput/BInput.vue";
import ClickBtn from "@/components/baseButton/ClickBtn.vue";
import { ref } from "vue";
import router from "@/router";
const form = ref({
  name: "",
  password: "",
});

const handleClick = () => {
    router.push('/')
}
</script>
