<template>
  <div class="h-full w-full">
    <the-modal
      :class="isModal ? 'block' : 'hidden'"
      :width="70"
      class="absolute top-0 right-0 left-0 z-50"
      @some-event="callback"
      @handle-add="submitForm"
    >
      <div class="flex flex-row gap-4">
        <div class="basis-1/2 grid grid-rows-3 gap-3">
          <b-input v-model="form.name" :label="'name'" :type="'text'"></b-input>
          <b-input
            v-model="form.password"
            :label="'password'"
            :type="'string'"
          ></b-input>
          <b-input
            v-model="form.phone"
            :label="'phone'"
            :type="'tel'"
          ></b-input>
        </div>
        <div class="basis-1/2 grid grid-rows-3 gap-3">
          <b-input
            v-model="form.date"
            :label="'birthday date'"
            :type="'date'"
          ></b-input>
          <b-input
            v-model="form.pinfl"
            :label="'pinfl'"
            :type="'number'"
          ></b-input>
         <select-input :label="'kursi'"   v-model="form.kursi"></select-input>
        </div>
      </div>
    </the-modal>
    <div class="border flex justify-end py-2">
      <div class="w-2/12">
        <click-btn @click="handleClick" :text="'add talaba'"></click-btn>
      </div>
    </div>
    <div class="table w-full h-full">
      <data-table @edit-item="editItem" @delet-item="deletItem" :data="students" :headers="headers"></data-table>
    </div>
  </div>
</template>
<script lang="ts" setup>
import DataTable from "@/components/baseTable/DataTable.vue";
import ClickBtn from "@/components/baseButton/ClickBtn.vue";
import TheModal from "@/components/baseModal/TheModal.vue";

import { reactive, ref } from "vue";
import BInput from "@/components/baseInput/BInput.vue";
import SelectInput from "@/components/baseInput/SelectInput.vue";

const isModal = ref(false);
const editIndex = ref(-1)

interface Student {
  name:string,
  password:string,
  phone:string,
  date:string,
  pinfl:string,
  kursi:string
}

const form = ref<Student>({
  name: '',
  password: "",
  phone: "",
  date: "",
  pinfl: "",
  kursi: ""
});

//methods
const callback = () => {
  isModal.value = false;
};


const handleClick = () => {
  isModal.value = true
  form.value.name = ''
  form.value.password = ''
  form.value.phone = ''
  form.value.date = ''
  form.value.pinfl = ''
  form.value.kursi = ''
}

const editItem = (val: object) => {
  isModal.value = true
  editIndex.value = students.indexOf(val)
  form.value = Object.assign({}, val)
}
const deletItem = (val: object) => {
  students.splice(editIndex.value, 1)
  
}

const submitForm = () => {
  if(editIndex.value > -1) {
    Object.assign(students[editIndex.value], form.value)
  } else {
    students.push(form.value)
  } 
  isModal.value = false
};


const headers = reactive(["name", "password", "phone", "date", "pinfl", "kursi"]);
const students = reactive<Student[]>([
  { name: "Olivia Rhye",password: '12234', phone: '1212123', date: '11.22.2002', pinfl: '12121232232', kursi: '3' },
  { name: "Olivia Rhye",password: '12234', phone: '1212123', date: '11.22.2002', pinfl: '12121232232', kursi: '3' },
  {  name: "Olivia Rhye",password: '12234', phone: '1212123', date: '11.22.2002', pinfl: '12121232232', kursi: '3' },
  {  name: "Olivia Rhye",password: '12234', phone: '1212123', date: '11.22.2002', pinfl: '12121232232', kursi: '3' },
]);

</script>
