<template>
  <div class="base-table   h-[85vh]">
    <table class="w-full h-full ">
      <thead class="h-[10%]">
        <tr
          class="grid py-4 grid-cols-7 text-white items-center w-full bg-[#B54708] h-full px-3"
        > 
          <th
            v-for="(item, idx) in props.headers"
            :key="idx"

            class="col-span-1 text-start"
          >
            {{ item }}
          </th>
          <!-- <th  class="col-span-1 text-start">actions</th> -->
        </tr>
      </thead>
      <tbody class="h-[90%] grid overflow-auto grid-rows-6">
        <tr
          v-for="(items, idx) in props.data"
          :key="idx"
          class="grid grid-cols-7 px-3 items-center text-black divider"
        >
          <td
            v-for="(item, idx) in items"
            :key="idx"
            class="col-span-1 text-start"
          >
            {{ item }}
          </td>
          <td  class="col-span-1 text-end">
            <button @click="$emit('editItem', items)">
              <svg
                fill="none"
                height="40"
                viewBox="0 0 40 40"
                width="40"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_3519_20641)">
                  <path
                    d="M24.167 12.4999C24.3859 12.2811 24.6457 12.1074 24.9317 11.989C25.2176 11.8705 25.5241 11.8096 25.8337 11.8096C26.1432 11.8096 26.4497 11.8705 26.7357 11.989C27.0216 12.1074 27.2815 12.2811 27.5003 12.4999C27.7192 12.7188 27.8928 12.9786 28.0113 13.2646C28.1297 13.5506 28.1907 13.8571 28.1907 14.1666C28.1907 14.4761 28.1297 14.7826 28.0113 15.0686C27.8928 15.3546 27.7192 15.6144 27.5003 15.8333L16.2503 27.0833L11.667 28.3333L12.917 23.7499L24.167 12.4999Z"
                    stroke="black"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.66667"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_3519_20641">
                    <rect
                      fill="white"
                      height="20"
                      transform="translate(10 10)"
                      width="20"
                    />
                  </clipPath>
                </defs>
              </svg>
            </button>
            <button @click="$emit('deletItem', items)">
              <svg
                fill="none"
                height="40"
                viewBox="0 0 40 40"
                width="40"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12.5 15.0001H14.1667M14.1667 15.0001H27.5M14.1667 15.0001V26.6667C14.1667 27.1088 14.3423 27.5327 14.6548 27.8453C14.9674 28.1578 15.3913 28.3334 15.8333 28.3334H24.1667C24.6087 28.3334 25.0326 28.1578 25.3452 27.8453C25.6577 27.5327 25.8333 27.1088 25.8333 26.6667V15.0001H14.1667ZM16.6667 15.0001V13.3334C16.6667 12.8914 16.8423 12.4675 17.1548 12.1549C17.4674 11.8423 17.8913 11.6667 18.3333 11.6667H21.6667C22.1087 11.6667 22.5326 11.8423 22.8452 12.1549C23.1577 12.4675 23.3333 12.8914 23.3333 13.3334V15.0001M18.3333 19.1667V24.1667M21.6667 19.1667V24.1667"
                  stroke="black"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.66667"
                />
              </svg>
            </button>
           
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script lang="ts" setup>
import { onMounted, ref } from "vue";

const props = defineProps({
  headers: {
    type: Array,
    required: true,
  },
  grid: String,

  data: {
    type: Object,
    required: true,
  },
});

const table = ref();

function tableData() {
  props.data.forEach((value: any) => (table.value = value));
}

onMounted(() => {
  tableData();
});
</script>
<style scoped></style>