<template>
    <div>
      <label for="label" class="uppercase">{{ props.label }}</label>
      <input
          :placeholder="props.label"
          :value="props.modelValue"
          class="mt-2 bg-gray-50 border  border-[#D0D5DD] text-gray-900 text-sm rounded-lg w-full p-3.5 focus-visible:outline-none"
          type="text"
          @input="emit('update:modelValue', $event.target.value)"
      />
      <input :placeholder="props.label"
          :value="props.modelValue"
          class="mt-2 bg-gray-50 border  border-[#D0D5DD] text-gray-900 text-sm rounded-lg w-full p-3.5 focus-visible:outline-none"
          type="checkbox"
          @input="emit('update:modelValue', $event.target.value)">
    </div>
  </template>
  <script lang="ts" setup>
  const props = defineProps({
    label: String,
    modelValue: String,
    type: {
      type: String,
      required: true
    }
  });
  const emit = defineEmits<{
    (event: "update:modelValue", payload: string): void;
  }>();
  
  //methods
  </script>