@import "./base.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box !important;

}

.main-card {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

.divider {
  border-bottom: 1px solid #B54708;
}

.main-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}