<template>
  <div class="main-modal  flex justify-center items-center">
    <div
      :style="{ width: props.width + '%' }"
      class="bg-white shadow-2xl flex flex-col rounded-lg py-4 px-6 gap-[30px]"
    >
      <div class="flex items-center justify-between">
        <h3 class="text-xl">{{ props.title }}</h3>
        <svg
          class="cursor-pointer"
          fill="none"
          height="20"
          viewBox="0 0 20 20"
          width="20"
          xmlns="http://www.w3.org/2000/svg"
          @click="$emit('someEvent')"
        >
          <path
            d="M15 5L5 15M5 5L15 15"
            stroke="#101828"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          />
        </svg>
      </div>
      <div class="ui-modal">
        <slot></slot>
      </div>
      <div class="flex gap-3">
        <button
          class="flex gap-3 py-[10px] rounded-lg w-full justify-center items-center"
          style="border: 1px solid #d0d5dd"
          @click="$emit('someEvent')"
        >
          <svg
            fill="none"
            height="20"
            viewBox="0 0 21 20"
            width="21"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.5 5L5.5 15M5.5 5L15.5 15"
              stroke="#344054"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.67"
            />
          </svg>
          Отменить
        </button>
        <button
          class="flex gap-3 bg-[#DC6803] text-white rounded-lg py-[10px] w-full justify-center items-center"
          @click="$emit('handleAdd')"
        >
          <svg
            fill="none"
            height="20"
            viewBox="0 0 21 20"
            width="21"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.6667 17.5V10.8333H6.33333V17.5M6.33333 2.5V6.66667H13M16.3333 17.5H4.66667C4.22464 17.5 3.80072 17.3244 3.48816 17.0118C3.17559 16.6993 3 16.2754 3 15.8333V4.16667C3 3.72464 3.17559 3.30072 3.48816 2.98816C3.80072 2.67559 4.22464 2.5 4.66667 2.5H13.8333L18 6.66667V15.8333C18 16.2754 17.8244 16.6993 17.5118 17.0118C17.1993 17.3244 16.7754 17.5 16.3333 17.5Z"
              stroke="white"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
            />
          </svg>
          Сохранить
        </button>
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
const props = defineProps({
  title: {
    type: String,
    required: true,
  },
  width: Number,
});
const clearModal = () => {
  console.log("sddsds");
};
</script>
<style scoped>
.main-modal {
  background: rgba(220, 104, 3, 0.05);
  backdrop-filter: blur(7.5px);
  height: 100%;
  width: 100%;
}
</style>
