<template>
    <button class="w-full uppercase bg-amber-700 rounded-lg py-3 text-white">
      {{props.text}}
    </button>
</template>
<script lang="ts" setup>
const props = defineProps({
  text: {
    type: String,
    required: true
  }
})
</script>