<template>
  <div class="w-full h-screen overflow-hidden flex">
    <div class="w-1/6">
      <div class="bg-[#B54708] flex flex-col p-2 h-screen w-full">
        <router-link  v-for="(item, idx) in routerData" :key="idx" :to="item.path" class="py-2 my-1 pl-4 rounded-lg text-white text-xl bg-[#93370D] w-full" >{{item.name}}</router-link>
      </div>
    </div>
    <div class="w-5/6 h-screen  p-3" name="routerChange">
      <slot :key="route.params" />
    </div>
  </div>
</template>

<script lang="ts" setup>
import { useRoute } from "vue-router";

const routerData = [
  {name: 'Student', path: '/student'},
  {name: 'Test', path: '/test'},
]

const route = useRoute();
</script>

<style scoped>

</style>