<template>
  <div>
    <div class="flex w-1/2 gap-2">
      <click-btn @click="handleClick(OneSection)" :text="'easy test crate'"></click-btn>
      <click-btn @click="handleClick(TreeSection)" :text="'medium test crate'"></click-btn>
      <click-btn @click="handleClick(TwoSection)" :text="'hard test crate'"></click-btn>
    </div>
    <div>
      <keep-alive :max="3">
        <component :is="component"></component>
      </keep-alive>
    </div>
  </div>
</template>
<script lang="ts" setup>
import ClickBtn from '@/components/baseButton/ClickBtn.vue';
import OneSection from '@/components/baseTest/OneSection.vue';
import TreeSection from '@/components/baseTest/TreeSection.vue';
import TwoSection from '@/components/baseTest/TwoSection.vue';
import { reactive, ref, shallowRef } from 'vue';
  
const component = shallowRef(OneSection)


const handleClick = (item: any) => {
  component.value = item
  
  
}
</script>